body {
  background-color: #64247C;
}

h1 {
  color: white;
  margin: 0;
  text-align: right;
  border-bottom: 1px ridge white;
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 300;
  
}

h2 {
  color: white;
  text-align: center;
  font-size: 100px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
}

h3 {
  color: white;
  text-align: center;
  font-size: 48px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 300;
}

.button {
  background-color: white;
  border: none;
  color: #64247C;
  padding: 35px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 13%;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
}

.Doc {
  float: right;
  margin-top: 11%;
  margin-right: 3%;
  width: 525px;
  height: 680px;

}

h4 {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
  font-size: 75px;
  color: white;
  margin-left: 8%;
  line-height: 0px;
  margin-top: 15%;
}

p {
  color: white;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin-left: 8%;
  margin-top: 0%;
}

h5 {
  color: white;
  font-size: 75px;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 300;
  margin-top: 10%;
}

.Mattew {
  width: 400px;
  height: 300px;
  display: inline-block;
  padding: 100px;
  margin-left: 35px;
  border-radius: 50%;
}

.Jack {
  width: 400px;
  height: 300px;
  display: inline-block;
  padding: 100px;
  border-radius: 50%;
}

.Namsai {
  width: 400px;
  height: 300px;
  display: inline-block;
  padding: 100px;
  border-radius: 50%;
}
h6 {
  font-size: 45px;
  font-family: 'Chakra Petch', sans-serif;
  display: inline-block;
  color: white;
  margin-left: 9%;
  margin-top: 0%;
  font-weight: 400;
  text-align: center;
}

.name{
  margin-top: 0%;
  line-height: 0px;
  
}

.info3 {
  
  font-size: 28px;
  text-align: center;
  display: inline-block;
  padding-left: 0;
  margin-top: -80px;


}
.info1 {
  font-size: 28px;
  display: inline-block;
  
  
  
}

.info2 {
  font-size: 28px;
  text-align: center;
  display: inline-block;
  padding-left: 3%;
}

.contacthead {
  float:right;
  margin-right: 7.5%;
  font-weight: 400;
  font-size: 71px;
  margin-top: 0%;
  
  
}

.contactinfo {
  float: right;
  margin-top: -90px;
  margin-right: 9%;
  font-weight: 300;
  font-size: 35px;

}

.mymap {
  margin-top: 0%;
  float:left;
  width: 780px;
  height: 700px;
  margin-left: 5%;
}


